body {
    /* text-align: center; */
    background-color: #C3E0E5;
  }

  li{
    font-size:400 ;
    font-weight: 10px;
  }
  
  .btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 5px solid black;
    margin: 2.5rem;
  }
  
  .btn-container {
    display: flex;
    justify-content: center;
  }
  
  .yellow {
    background-color: #f99b45;
  }
  
  .red {
    background-color: #773f50;
  }
  
  .purple {
    background-color: #233877;
  }
  
  .green {
    background-color: #2f6676;
  }
  
  .flash {
    background-color: white;
  }
  
  .userflash {
    background-color: rgb(1, 31, 1);
  }